{% extends "base.html" %}

{% block title %}Entries List{% endblock %}

{% block content %}
        <h1 class="text-3xl font-bold mb-6 text-center">Miner Receipts</h1>

        <div class="bg-white shadow-md rounded-lg p-4">
            <ul class="space-y-6">
                {% for entry in entries %}
                    <li class="p-4 border-b border-gray-200">
                        1838517472040763851
                        <strong>User:</strong> <a href="https://twitter.com/{{ entry.user_name }}" target="_blank">{{ entry.user_name }}</a>  <br>
                        <strong>Tweet:</strong> <a href="https://twitter.com/{{ entry.user_name }}/status/{{ entry.tweet_id }}" target="_blank">{{ entry.tweet_id }}</a>  <br>
                        <strong>Content:</strong> {{ entry.tweet_content }} <br>
                        <strong>Timestamp:</strong> {{ entry.timestamp }} <br>
                        <strong>Score:</strong> {{ entry.score }} <br>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="mt-6 text-center">
            <p>Page {{ page }} of {{ total_pages }}</p>
            <div class="space-x-4">
                {% if page > 1 %}
                    <a href="/?page={{ page - 1 }}&per_page=5" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Previous</a>
                {% endif %}

                {% if page < total_pages %}
                    <a href="/?page={{ page + 1 }}&per_page=5" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Next</a>
                {% endif %}
            </div>
        </div>
{% endblock %}