NET_UID=22
MINER_KEY=miner
MINER_NAME=miner
PORT=9960
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeit456$
POSTGRES_HOST=localhost
POSTGRES_PORT=5410
POSTGRES_DB=miner
DATABASE_URL=postgresql+asyncpg://postgres:changeit456$@localhost:5410/miner

USER_ID=twitter user id
DASHBOARD_USER_NAME=admin
DASHBOARD_USER_PASSWORD_HASH=
DASHBOARD_SECRET_KEY=